// *************************************
//
// # jigsass-objects-lists style guide generator
// -> It is a best practice for JigSass modules to
//    not automatically generate css and documentation
//    on `@import`. Please use this file to enable css
//    (and comments) generation.
//
//    Files in `sgSrc/assets` will be available
//    for use in the style guide
//
// *************************************

@charset 'UTF-8';

// --------------------
// Dependencies
// --------------------
@import '../node_modules/jigsass-tools-maps/scss/index';
@import '../node_modules/jigsass-tools-mq/scss/index';
@import '../node_modules/jigsass-tools-typography/scss/index';
@import '../node_modules/jigsass-tools-strings/scss/index';
@import '../node_modules/jigsass-tools-bidi/scss/index';
@import '../node_modules/jigsass-tools-selectors/scss/index';





// --------------------
// Imports
// --------------------

@import 'index.scss';





// --------------------
// Styles
// --------------------

// --- list-bare Container --- //
@include jigsass-list(bare);

@include jigsass-list(inline);
@include jigsass-list(inline, $modifier: delimited);
@include jigsass-list(inline, $modifier: split-last);
@include jigsass-list(inline, $modifier: split-first);
@include jigsass-list(inline, $modifier: spread);

@include jigsass-list(divided);

@each $modifier-name in map-keys($jigsass-lists-divided-border-modifiers) {
  @include jigsass-list(divided, $modifier: $modifier-name);
}



// --------------------
// Demo Styles
// --------------------

$jigsass-mdcss-brand-color: #09a5d9;
@include jigsass-set-baseline;
html { font-family: sans-serif; }

body {
  margin: 0;
  overflow-x: hidden;
}

// Reset list spacing
ul,
ol {
  margin: 0;
  padding: 0;
}

.fpo {
  background-color: $jigsass-mdcss-brand-color;
  border: 1px solid lighten($jigsass-mdcss-brand-color, 5%);
  box-sizing: border-box;
  color: #fff;
  margin-bottom: 4rem;
  padding: 2rem;
  width: 100%;
}

.fpo--b,
.fpo--c {
  margin-bottom: 0;
}
.fpo--b {
  background-color: darken($jigsass-mdcss-brand-color, 5%);

}

.fpo--c {
  background-color: darken($jigsass-mdcss-brand-color, 10%);
}

.fpo--tall {
  min-height: 25rem;
}
.fpo--fixed {
  float: left;
  width: 200px;
}


// --- Utility classes --- //
//
@each $modifier-values in map-values($jigsass-lists-divided-border-modifiers) {
  $_rhythm-units: nth($modifier-values, 2);
  .u-as--#{$_rhythm-units} {
    > * + * {
      @include jigsass-rem(margin-top, jigsass-rhythm($_rhythm-units));
    }
  }
}

$_rhythm-units: nth($jigsass-lists-divided-border, 2);
.u-as--#{$_rhythm-units} {
  > * + * {
    @include jigsass-rem(margin-top, jigsass-rhythm($_rhythm-units));
  }
}

.u-maw--600px {
  max-width: 600px;
}
